.App {
  text-align: right;
  direction: rtl;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cardTitle{
  font-size: 14px;
  color: grey;
}

.freqNum{
  font-size: 24px;
  color: green;
}

.allocationCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  margin: 0;
  padding: 0;
}

.cardNav {
  display: flex;
  justify-items: flex-end;
  align-items: flex-end;
}

.cardTop {
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
}
.closeButton {
  color:red;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
